<header class="page-header">
	<section class="top-menu">
		<h1 class="bi"><a href=“javascript:;”>HANSTYLE</a></h1>
		<ul class="util">
			<li><a href="javascript:;">DESIGNER</a></li>
			<li><a href="javascript:;">EXHIBITION</a></li>
			<li><a href="javascript:;">LIKE</a></li>
			<li><a href="javascript:;">MY</a></li>
		</ul>
	</section>
	
	<nav class="service-gnb">
		<ul class="gnb">
			<li><a href="javascript:;">여성</a>
				<div class="snb-menu">
					<div class="sub-area">
						<ul>
							<li><a href="javascript:;"><strong>전체</strong></a></li>
							<li><a href="javascript:;">신상품</a></li> 
						</ul>
						<ul class="two-line">
							<li><a href="javascript:;"><strong>의류</strong></a></li>
							<li><a href="javascript:;">티셔츠/스웨트셔츠</a></li>  
							<li><a href="javascript:;">코트</a></li> 
							<li><a href="javascript:;">셔츠</a></li> 
							<li><a href="javascript:;">레더</a></li> 
							<li><a href="javascript:;">슬리브리스</a></li>
							<li><a href="javascript:;">패딩</a></li> 
							<li><a href="javascript:;">니트</a></li> 
							<li><a href="javascript:;">퍼</a></li> 
							<li><a href="javascript:;">원피스</a></li>
							<li><a href="javascript:;">베스트</a></li>  
							<li><a href="javascript:;">팬츠</a></li>
							<li><a href="javascript:;">레깅스</a></li> 
							<li><a href="javascript:;">데님</a></li>  
							<li><a href="javascript:;">스포츠웨어</a></li> 
							<li><a href="javascript:;">스커트</a></li>
							<li><a href="javascript:;">비치웨어</a></li> 
							<li><a href="javascript:;">자켓</a></li>  
							<li><a href="javascript:;">언더웨어/홈웨어</a></li> 
							<li><a href="javascript:;">점퍼</a></li>
							<li><a href="javascript:;">기타 의류</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>신발</strong></a></li>
							<li><a href="javascript:;">스니커즈</a></li>
							<li><a href="javascript:;">슬립온</a></li> 
							<li><a href="javascript:;">러닝</a></li> 
							<li><a href="javascript:;">슬리퍼</a></li> 
							<li><a href="javascript:;">샌들</a></li> 
							<li><a href="javascript:;">힐</a></li> 
							<li><a href="javascript:;">플랫</a></li> 
							<li><a href="javascript:;">슈즈</a></li> 
							<li><a href="javascript:;">부츠</a></li> 
							<li><a href="javascript:;">기타 슈즈</a></li> 
						</ul>
						<ul class="two-line">
							<li><a href="javascript:;"><strong>액세서리</strong></a></li>
							<li><a href="javascript:;">백팩</a></li> 
							<li><a href="javascript:;">벨트</a></li> 
							<li><a href="javascript:;">토트/숄더백</a></li>
							<li><a href="javascript:;">장갑</a></li> 
							<li><a href="javascript:;">클러치/파우치</a></li> 
							<li><a href="javascript:;">양말</a></li>
							<li><a href="javascript:;">지갑</a></li>  
							<li><a href="javascript:;">키홀더</a></li>
							<li><a href="javascript:;">카드홀더</a></li>  
							<li><a href="javascript:;">헤어 액세서리</a></li>
							<li><a href="javascript:;">주얼리</a></li>  
							<li><a href="javascript:;">기타 액세서리</a></li>
							<li class="basis100"><a href="javascript:;">아이웨어</a></li>  
							<li class="basis100"><a href="javascript:;">머플러</a></li>
							<li class="basis100"><a href="javascript:;">스카프</a></li>  
							<li class="basis100"><a href="javascript:;">모자</a></li>  
						</ul>
					</div>
				</div>
			</li>
			<li><a href="javascript:;">남성</a>
				<div class="snb-menu">
					<div class="sub-area">
						<ul>
							<li><a href="javascript:;"><strong>전체</strong></a></li>
							<li><a href="javascript:;">남성옷이에요</a></li>
							<li><a href="javascript:;">여성옷 뎁스와 동일</a></li> 
						</ul>
					</div>
				</div>
			</li>
			<li><a href="javascript:;">키즈</a>
				<div class="snb-menu">
					<div class="sub-area">
						<ul>
							<li><a href="javascript:;"><strong>전체</strong></a></li>
							<li><a href="javascript:;">아이옷이에요</a></li>
							<li><a href="javascript:;">여성옷 뎁스와 동일</a></li> 
						</ul>
				</div>
				</div>
			</li>
			<li><a href="javascript:;">라이프</a>
				<div class="snb-menu">
					<div class="sub-area">
						<ul>
							<li><a href="javascript:;"><strong>전체</strong></a></li>
							<li><a href="javascript:;">신상품</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>가구</strong></a></li>
							<li><a href="javascript:;">의자</a></li> 
							<li><a href="javascript:;">테이블</a></li> 
							<li><a href="javascript:;">수납장</a></li> 
							<li><a href="javascript:;">아웃도어</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>조명</strong></a></li>
							<li><a href="javascript:;">포터블</a></li> 
							<li><a href="javascript:;">테이블</a></li> 
							<li><a href="javascript:;">플로어</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>키친</strong></a></li>
							<li><a href="javascript:;">컵/텀블러</a></li> 
							<li><a href="javascript:;">식기</a></li> 
							<li><a href="javascript:;">커트러리</a></li> 
							<li><a href="javascript:;">조리도구</a></li> 
							<li><a href="javascript:;">커피&amp;티</a></li> 
							<li><a href="javascript:;">트레이</a></li> 
							<li><a href="javascript:;">주방가전</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>패브릭</strong></a></li>
							<li><a href="javascript:;">러그</a></li> 
							<li><a href="javascript:;">침구</a></li> 
							<li><a href="javascript:;">담요</a></li> 
							<li><a href="javascript:;">쿠션</a></li> 
							<li><a href="javascript:;">주방 패브릭</a></li> 
							<li><a href="javascript:;">욕실 패브릭</a></li> 
							<li><a href="javascript:;">기타 패브릭</a></li> 
							<li><a href="javascript:;">홈웨어</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>홈데코</strong></a></li>
							<li><a href="javascript:;">화병</a></li> 
							<li><a href="javascript:;">문구</a></li> 
							<li><a href="javascript:;">시계</a></li> 
							<li><a href="javascript:;">거울</a></li> 
							<li><a href="javascript:;">캔들</a></li> 
							<li><a href="javascript:;">캘린더</a></li> 
							<li><a href="javascript:;">홈 프레그런스</a></li> 
							<li><a href="javascript:;">기타 홈데코</a></li> 
							<li><a href="javascript:;">오브제</a></li> 
							<li><a href="javascript:;">후크</a></li> 
						</ul>
						<ul>
							<li><a href="javascript:;"><strong>오디오&amp;테크</strong></a></li>
							<li><a href="javascript:;">폰케이스</a></li> 
							<li><a href="javascript:;">올인원</a></li> 
							<li><a href="javascript:;">턴테이블</a></li> 
							<li><a href="javascript:;">가전</a></li> 
							<li><a href="javascript:;">헤드셋&amp;이어폰</a></li> 
							<li><a href="javascript:;">기타테크</a></li> 
						</ul>
					</div>
				</div>
			</li>
			<li><a href="javascript:;">리미티드</a></li>
			<li><a href="javascript:;">빈티지</a></li>
			<li><a href="javascript:;">아울렛</a></li>
			<li><a href="javascript:;">새벽도착</a></li>
		</ul>

		<ul class="side-menu">
			<li><a href="javascript:;" class="search" onclick="openSearch()">검색</a></li>
			<li><a href="javascript:;" class="cart">장바구니<em>99+</em></a></li>
		</ul>
	</nav>
</header>

<!-- 모바일 > 카테고리영역 -->
<section class="mw-category">
	<header class="header-sub">
		<h2><button type="button" class="btn-back">이전</button>CATEGORY</h2>
		<ul class="side-menu">
			<li><a href="javascript:;" class="search">검색</a></li>
			<li><a href="javascript:;" class="cart">장바구니<em>99+</em></a></li>
		</ul>
	</header>
	<ul class="category-menu">
		<li><a href="javascript:;">여성</a></li>
		<li><a href="javascript:;">남성</a></li>
		<li><a href="javascript:;">키즈</a></li>
		<li><a href="javascript:;">라이프</a></li>
	</ul>
</section>