<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="한스타일, 리앤한, HANSTYLE">
	<meta name="Title" content=" HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta name="description" content="HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta property="og:type" content="website">
	<meta property="og:title" content="HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta property="og:image" content="https://img.ihanstyle.com/images/hsweb/common/kakaotalk_thum2.png">
	<meta property="og:url" content=" https://shop.ihanstyle.com">
	<meta property="og:description" content="럭셔리 해외 브랜드 온라인 편집몰">
	<meta property="og:locale" content="ko_KR">
	<meta property="og:site_name" content="한스타일 | HANSTYLE.com">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="shortcut icon" href="//img.ihanstyle.com/images/hsmob/hsmob_favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/scss/main.css?cVer=20221209">
</head>

<div class="wrap">
	<!-- 상단 공통 영역 -->
	<section include-html="../layout/header.html"></section>

	<section class="contents">
		
		<h2 class="sample02">모바일용 헤더 모음</h2>
		<!-- 실제 쓰여질 경우엔 style="position:static" 제거 -->

		<header class="header-sub" style="position:static">
			<h2>CATEGORY</h2>
			<ul class="side-menu">
				<li><a href="javascript:;" class="search">검색</a></li>
				<li><a href="javascript:;" class="cart">장바구니</a></li>
			</ul>
		</header>

		<header class="header-sub" style="position:static">
			<h2>LIKE</h2>
			<ul class="side-menu">
				<li><a href="javascript:;" class="search">검색</a></li>
				<li><a href="javascript:;" class="cart">장바구니</a></li>
			</ul>
		</header>
		
		<header class="header-sub" style="position:static">
			<h2 class="sub"><button type="button" class="btn-back">이전</button>여성<span class="dpt">CLOTHING</span></h2>
			<ul class="side-menu">
				<li><a href="javascript:;" class="search">검색</a></li>
				<li><a href="javascript:;" class="cart">장바구니<em>20</em></a></li>
			</ul>
		</header>

		<header class="header-sub" style="position:static">
			<h2 class="sub"><button type="button" class="btn-back">이전</button><strong>후드티 후드티 후드티</strong><span class="num">999,999개 상품</span></h2>
			<ul class="side-menu">
				<li><a href="javascript:;" class="search">검색</a></li>
				<li><a href="javascript:;" class="cart">장바구니<em>99+</em></a></li>
			</ul>
		</header>

		<header class="header-sub"  style="position:static">
			<h2 class="sub">
				<button type="button" class="btn-back" onclick="closeSearch()">이전</button>
				<input type="text" class="txt search" placeholder="브랜드,상품명,카테고리" id="searchKeyword">
				<button type="button" class="btn-delet" id="deleteInput">삭제</button>
			</h2>
			<ul class="side-menu">
				<li><a href="javascript:;" class="cart">장바구니<em>99+</em></a></li>
			</ul>
		</header>

		<!-- 마이페이지 -->
		<header class="header-sub" style="position:static">
			<h2 class="sub"><button type="button" class="btn-back">이전</button>FAQ</h2>
		</header>
		
	</section>

	<nav class="service-gnb-btm show">
		<ul>
			<li class="active"><a href="javascript:;" class="btm-cate">CATEGORY</a></li><!-- 페이지 활성화 시 active -->
			<li><a href="javascript:;" class="btm-designer">DESIGNER</a></li>
			<li><a href="javascript:;" class="btm-home">HOME</a></li>
			<li><a href="javascript:;" class="btm-like">LIKE</a></li>
			<li><a href="javascript:;" class="btm-my">MY</a></li>
		</ul>
	</nav>

	<!-- 하단 공통 영역 -->
	<section include-html="../layout/footer.html"></section>
</div>

<!-- 마크업 확인용 -->
<script type="text/javascript" src="../js/includeHTML.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script>
	includeHTML();
</script>
</body>
</html>