<aside class="side-navigation">
	<h4>쇼핑정보</h4>
	<ul class="snb">
		<li><a href="javascript:;" class="on">주문내역</a></li>
		<li><a href="javascript:;">취소&#47;교환&#47;반품내역</a></li>
		<li><a href="javascript:;">리뷰</a></li>
		<li><a href="javascript:;">최근 본 상품</a></li>
	</ul>

	<h4>회원정보</h4>
	<ul class="snb">
		<li><a href="javascript:;">회원정보수정</a></li>
		<li><a href="javascript:;">배송지 관리</a></li>
		<li><a href="javascript:;">환불계좌관리</a></li>
	</ul>

	<h4>CS센터</h4>
	<ul class="snb">
		<li><a href="javascript:;">1:1 문의</a></li>
		<li><a href="javascript:;">자주묻는 질문</a></li>
		<li><a href="javascript:;">공지사항</a></li>
		<li><a href="javascript:;">매장안내</a></li>
	</ul>

	<section class="side-logout"><a href="javascript:;">로그아웃</a></section>
</aside>