/* COMMON */
// 전체삭제
.product-remove {display:flex; justify-content: end; padding:8px 0;
	.btn {margin-right:-8px;}

	@include mobile {
		.btn {margin-right:8px;}
	}
}

/* 최근본상품 */
.recent-wrap {
	@include mobile {
		& {padding-top: 56px;}
	}

	/* 최근본상품 목록 컨테이너 */
	.recent-container {width:100%;
		$gap : 22.5px;

		/* 좋아요 */
		.toggle-like {overflow:hidden; position:absolute; top:5px; right:4px; width:36px; height:36px; background-image: url($--image-url + "/common/ico-like@20x20.svg"); background-position: center; background-repeat:no-repeat; background-size:24px; font-size:0; text-indent:-9999px; z-index:1; transition:filter .15s ease-in-out;
			&:hover {filter: brightness(0.3) invert(0.5)}
			&.on {background-image:url($--image-url + "/common/ico-like@20x20-active.svg");}

			@media (max-width: ($desktop - 1)){
				& {top:4px; background-size:20px;}
			} 
		}

		/* 상품 ROW */
		.recent-row {display:flex; flex-wrap:wrap; justify-content:flex-start; gap:66px $gap; padding:0;
			@include mobile {justify-content:space-between;
				& {gap:66px 4px;}
			}
		}

		/* 상품 카드 COL */
		.recent-col {position:relative; flex-basis:calc(20% - ($gap - calc($gap / 5)));
				
			>a {display:block; position:relative;
				.img-area {overflow:hidden; position:relative; width:100%; height:auto; margin-bottom:12px; border-radius:2px;
					>img {width:100%; height:auto; vertical-align:top; transition:all .2s ease-in-out;}
					&:hover img {-webkit-transform:scale(1.03); -moz-transform:scale(1.03); transform:scale(1.03);}
					
				} 
				.spec-area {
					.spec_name{display:block; max-height:36px; margin-bottom:4px; font-size:14px; line-height:18px; font-weight:600; opacity:0.9; color:$co-bk; @include txt-hd2;}
					.spec_price{margin-bottom:16px; font-size:0; line-height:16px;
						* {font-size:12px;}
						.tx_per{margin-right:6px; color:$co-blue;
							&::after {content:"%";}
						}
						.tx_price{color:$co-bk;
							&::before {content:"₩";}
						}
						.tx_cost{margin-left:4px; color:$co-lgr; text-decoration:line-through;
							&::before {content:"₩";}
						}
					}
					.spec_badge {font-size:0;}
				}

				// LIKE 목록 커스텀
				.like-container & .spec-area {height:58px; margin-bottom:12px;
					@media screen and (max-width: ($desktop - 1)){ 
						.spec_price .tx_cost {display:none;}
					}
				}
			}

			// 품절 상품
			&.soldout {
				.img-area::before {content:""; position:absolute; top:0; bottom:0; left:0; right:0; z-index:1; background-color:rgba(255, 255, 255, 0.6);}
				.img-area::after {content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:59.7%; height:19px; font-size:0; background:url($--image-url + "/common/product_soldout@108x12.svg") center no-repeat; background-size:100%;}
			}

			@include tablet {
				& {flex-basis:calc(calc(100% / 3) - ($gap - calc($gap / 3)));}
			}
			@include mobile {
				& {flex-basis:calc(50% - 4px);}
				& .spec-area {padding:0 16px;}
			}
			@media (max-width: 319px){
				& {flex-basis:100% !important;}
			} 
		}
	}
}