<!-- gnb -->
<input class="nav-check" type="checkbox" id="nav-check" /><label class="nav-icon" for="nav-check"><span class="nav-sticks"></span></label>
<aside class="side-navigation scroll-bk">
	<a href="javascript:;" class="nav-setting">메뉴설정</a>
	<div class="lnb">
		<ul>
			<li>
				<a href="javascript:;">상품/전시</a>
				<ul>
					<li>
						<a href="javascript:;">피킹/패킹관리-GGDB-KR</a>
						<ul>
							<li><a href="javascript:;">단수주문 송장출력[단건]-GGDB-KR</a></li>
							<li><a href="javascript:;">3Depth</a></li>
							<li><a href="javascript:;">3Depth</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">2Depth</a>
						<ul>
							<li><a href="javascript:;">3Depth</a></li>
							<li><a href="javascript:;">3Depth</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">2Depth</a></li>
					<li><a href="javascript:;">2Depth</a></li>
				</ul>
			</li>
			
			<li>
				<a href="javascript:;">주문/배송</a>
				<ul>
					<li>
						<a href="javascript:;">2Depth</a>
						<ul>
							<li><a href="javascript:;">3Depth</a></li>
							<li><a href="javascript:;">3Depth</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">2Depth</a>
						<ul>
							<li><a href="javascript:;">3Depth</a></li>
							<li><a href="javascript:;">3Depth</a></li>
							<li><a href="javascript:;">3Depth</a></li>
						</ul>
					</li>
				</ul>
			</li>
			
			<li>
				<a href="javascript:;">회원</a>
				<ul>
					<li><a href="javascript:;">2Depth</a></li>
					<li><a href="javascript:;">2Depth</a></li>
				</ul>
			</li>
			
			<li>
				<a href="javascript:;">영업관리</a>
			</li>

			<li>
				<a href="javascript:;">정산</a>
			</li>

			<li>
				<a href="javascript:;">통계</a>
			</li>

			<li>
				<a href="javascript:;">오프통계</a>
			</li>

			<li class="on">
				<a href="javascript:;">게시판</a>
				<ul>
					<li><a href="javascript:;">공지사항</a></li>
					<li><a href="javascript:;">FAQ</a></li>
					<li><a href="javascript:;">배너관리</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript:;">영업망관리</a>
			</li>

			<li>
				<a href="javascript:;">기준정보</a>
			</li>

			<li>
				<a href="javascript:;">시스템</a>
			</li>

			<li>
				<a href="javascript:;">위탁판매</a>
			</li>

			<li>
				<a href="javascript:;">파트너</a>
			</li>
		</ul>
	</div>
</aside>