//Pretendard
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	src: url($--font-url+'/pretendard/woff2/Pretendard-Black.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	src: url($--font-url+'/pretendard/woff2/Pretendard-ExtraBold.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	src: url($--font-url+'/pretendard/woff2/Pretendard-Bold.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	src:url($--font-url+'/pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	src: url($--font-url+'/pretendard/woff2/Pretendard-Medium.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	src: url($--font-url+'/pretendard/woff2/Pretendard-Regular.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	src:url($--font-url+'/pretendard/woff2/Pretendard-Light.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	src:url($--font-url+'/pretendard/woff2/Pretendard-ExtraLight.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	src: url($--font-url+'/pretendard/woff2/Pretendard-Thin.woff2') format('woff2'),
	url($--font-url+'/pretendard/woff/Pretendard-Thin.woff') format('woff');
}

//messapia
@font-face {
	font-family: 'messapia';
	src: url($--font-url+'/messapia/Messapia-Bold.otf') format('woff2'),
	url($--font-url+'/messapia/Messapia-Bold.otf') format('woff');
}